source https://api.nuget.org/v3/index.json
nuget FSharp.Core
nuget akka
nuget akka.FSharp
nuget akkling

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target


