akka {
    actor {
        provider = cluster
        deployment {
            /pricesub/broadcaster {
                router = broadcast-group # routing strategy
                routees.paths = ["/user/pricesub"] # path of routee on each node
                
                cluster {
                    enabled = on
                    allow-local-routees = on
                    use-role = priceSubscriber
                }
            }

            /scheduler {
                router = round-robin-group # routing strategy
                routees.paths = ["/user/pricesub"] # path of routee on each node
                
                cluster {
                    enabled = on
                    allow-local-routees = on
                    use-role = priceSubscriber
                }
            }
        }
    }
    
    remote {
        dot-netty.tcp {
            port = {port}
            hostname = localhost
        }
    }

    cluster {
        seed-nodes = ["akka.tcp://realtime@localhost:8081"]
        roles = ["priceSubscriber"]
    }
}
